<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<br><br>
    <div class="container">
        <style type="text/css" media="screen">
            .imgu{
                max-height: 40px;
                max-width: 40px;
            }
            .mov{
                width: 100%;
                max-width: 720px;
            }
        </style>
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="media">
                    <img class="mr-3 rounded-circle imgu" src="{{ post.user.picture }}" alt="{{ post.user.name }}">
                    <div class="media-body">
                        <h5 class="mt-0">{{ post.user.name }}</h5>
                        {{ post.timestamp }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <center>
            <div class="mov">
            <img class="img-fluid mt-3 border rounded imgmov" src="{{ post.photo }}" alt="{{ post.title }}">
                <br/><br/>
                <h6 class="ml-1 mt-1">{{ post.title }}</h6>
                <br/>
            </div>
            </center>
            {% endfor %}
        </div>
    </div>
</body>
</html>
